/*html {
  background-color: #e8e8e8;
  scroll-behavior: smooth;
}*/

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}





#popup {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f1f1f1;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

#popup-button-text {
  margin-top: 2px;
  margin-bottom:  2px;
  margin-left: 3px;
  margin-right: 3px;
}


#blur-container {
  filter: blur(10px);
}


#title {
  font-size: 36px;
  text-decoration: underline;
  text-decoration-color: #e8e8e8; 
  display: block;
  text-align: center;
  color: black;
}

#sub-title {
  color: black;
  margin-bottom: 13px;
}


input {
 display: block;
 border: none;
 border: 1px solid white;
 border-radius: 10px;
 padding: 15px;
 margin-bottom: 10px;
 background-color: #e8e8e8;
 box-shadow: 3px 3px 8px #ffffff,
             -3px -3px 8px #c5c5c5;
 font-size: medium;
 font-weight: bold;
 width: 80%;
 /*max-width: 200px;*/
 margin: 0 auto; /* add this to center the input boxes horizontally */
 margin-bottom: 15px;
}

input:focus {
 outline-color: white;
}

button {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #e8e8e8;
  border: 1px solid var(--bg);
  border-radius: 10px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  margin-top: 5px;
}

#searchButtonText {
  margin-top: 4px;
  margin-bottom:  4px;
  margin-left: 3px;
  margin-right: 3px;
}

button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

button:active {
  transform: translate(0);
  box-shadow: none;
}

#yourrep {
  margin-bottom: -5px;
  margin-top: -5px;
  text-decoration: underline;
  text-decoration-color: #grey; 
}

#emailButtonText {
  margin-top: 4px;
  margin-bottom:  4px;
  margin-left: 3px;
  margin-right: 3px;
}

#info-box {
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /*margin-right: 7px;*/
  margin-bottom: 25vh;

  width:  80vw;
  max-width: 300px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}



.person {
  margin-top: 50px;
  width: 100%;
  /*max-width: 215px;*/
  position:  relative;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 6px 6px 12px #ffffff,
             -6px -6px 12px #c5c5c5;
}

.person p {
  margin: 0;
  font-size: 20px;
}

.person:hover {
  border-color: white;
}


#top-spacer {
  margin-top: 50px;
}

#container1 {
  justify-content: center;
  /*old bg color:  d1d5fe*/
  background-color: #d1d5fe;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width:  80vw;
  max-width: 300px;
}

#container2 {
  justify-content: center;
  /*old bg color:  d1d5fe*/
  background-color: #d1d5fe;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width:  80vw;
  max-width: 300px;
}

#instructions {
  margin-top:  7px;
  margin-bottom: 7px;
}

#container3 {
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0;
  width:  80vw;
  max-width: 300px;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}



